body {
  background-color: #00303b;
  color: #f1f2da;
  overflow: hidden;
  user-select: none;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  // font-family: "Courier New", Courier, monospace;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  image-rendering: pixelated;

  transform: scale(3);
}

.gameover {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.bar {
  display: flex;
  flex-direction: row;
  font-size: 8px;

  ul {
    margin-left: 12px;
    flex: 1;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 32px 32px 32px;
    grid-gap: 8px;

    li {
      border: 1px solid #f1f2da;
      padding: 4px;
      text-align: center;

      &.selected {
        background: #f1f2da;
        color: #00303b;
      }
    }
  }

  button {
    font-size: 8px;
    border: 1px solid #f1f2da;
    color: #f1f2da;
    background: none;
    cursor: pointer;
  }
}
