body {
  background-color: #00303b;
  color: #f1f2da;
  overflow: hidden;
  user-select: none;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  image-rendering: pixelated;

  & > * {
    transform: scale(3);
    transform-origin: center;
  }
}

button {
  font-size: 8px;
  border: 1px solid #f1f2da;
  color: #f1f2da;
  background: none;
  cursor: pointer;

  &:hover {
    border-style: dashed;
  }

  &:disabled {
    cursor: not-allowed;
    border-style: dashed;
  }
}

.header {
  text-align: center;

  p {
    margin: 0;
  }

  button {
    margin-bottom: 1rem;
  }

  .streak {
    font-size: 8px;
    margin: 0.25rem;
  }
}

.gameover {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.grid-sidebar-container {
  display: flex;
  flex-direction: row;

  .sidebar {
    margin-left: 1.5rem;

    p {
      font-size: 8px;
    }

    ul {
      padding-left: 1rem;
      font-size: 8px;
    }
  }
}

.bar {
  display: flex;
  flex-direction: row;
  font-size: 8px;

  ul {
    margin-left: 12px;
    flex: 1;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 32px 32px 32px;
    grid-gap: 8px;

    li {
      border: 1px solid #f1f2da;
      padding: 4px;
      text-align: center;
      cursor: pointer;

      &:hover {
        border-style: dashed;
      }

      &.selected {
        background: #f1f2da;
        color: #00303b;
      }
    }
  }
}
