$cardWidth: 32px;
$cardTextSize: 6px;

body {
  background-color: #00303b;
  color: #f1f2da;
  overflow: hidden;
  user-select: none;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  image-rendering: pixelated;

  & > * {
    transform-origin: center;
    padding: 1.5rem;
  }
}

button {
  font-size: 8px;
  border: 1px solid #f1f2da;
  color: #f1f2da;
  background: none;
  cursor: pointer;

  &:hover {
    border-style: dashed;
  }

  &:disabled {
    cursor: not-allowed;
    border-style: dashed;
  }
}

.header {
  text-align: center;

  p {
    margin: 0;
  }

  button {
    margin-bottom: 1rem;
  }

  .streak {
    font-size: 8px;
    margin: 0.25rem;
  }
}

.gameover {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.grid-sidebar-container {
  display: flex;
  flex-direction: row;

  .sidebar {
    margin-left: 1.5rem;

    p {
      font-size: 8px;
    }

    ul {
      font-size: $cardTextSize;
      padding: 0;
      list-style: none;

      li {
        width: $cardWidth;
        border: 1px dashed #f1f2da;
        padding: 4px;
        text-align: center;
        margin-bottom: 8px;

        box-sizing: border-box;
      }
    }
  }
}

.bar {
  display: flex;
  flex-direction: row;
  font-size: $cardTextSize;

  button {
    font-size: $cardTextSize;
  }

  ul {
    margin-left: 12px;
    flex: 1;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: $cardWidth $cardWidth $cardWidth;
    grid-gap: 8px;

    li {
      border: 1px solid #f1f2da;
      padding: 4px;
      text-align: center;
      cursor: pointer;

      &:hover {
        border-style: dashed;
      }

      &.selected {
        background: #f1f2da;
        color: #00303b;
      }
    }
  }
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: 8px;

  & > * {
    border: 1px solid #f1f2da;
    background-color: #00303b;
    padding: 0.5rem;
  }
}

.scanLinesH {
  background: repeating-linear-gradient(
    transparent,
    transparent 3px,
    black 4px,
    black 4px
  );
  background-size: auto 100%;
  background-position: center center;
  background-repeat: repeat;
  opacity: 0.3;

  &:after {
    animation: grain 8s steps(10) infinite;
    background-image: url("../assets/paper_1_@2X.png");
    height: 300%;
    left: -50%;
    content: "";
    opacity: 0.3;
    position: fixed;
    top: -100%;
    width: 300%;
  }
}

.overlay {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;

  z-index: 2;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
